<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/web2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-dark">

    <div  id="menuItems" class=" flex-grow-1mx-auto my-2 order-0 order-md-1 position-relative d-flex container d-flex justify-content-center align-items-center navbar-collapse dual-collapse2">
        <!-- Ссылки на "Policy" и "Home", скрытые на больших экранах -->
        <ul class="navbar-nav d-none d-lg-block" >
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
            </li>
        </ul>


        <div class="circle-logo">
            <!-- Логотип всегда виден -->
            <a class="mx-auto" href="#">
                <img src="/img/DodoLogo.svg" alt="">
            </a>
        </div>

        <ul class="navbar-nav d-none d-lg-block">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
            </li>
        </ul>

        <!-- Кнопка разворачивания для мобильных экранов -->
        <button class="navbar-toggler ms-auto" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>


</header>
    <canvas id="backgroundCanvas" class="backgroundCanvas"></canvas>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  <footer id="default" class="border-top footer text-muted">
    <div class="container">
      &copy; 2023 - DodoThere - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
  </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" ></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>