@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}


<h1> <strong>Что ж, исключительно приветствую.</strong> </h1>
<p> Это мой <b>первый личный сайт</b>, на котором я экспериментирую с <b>Web</b>. Он в докере, на <b>ASP.NET Razor</b>.</p>
<br />
<h1> <strong>Для чего он?</strong> </h1>
    <p>    Для практики, опыта, и какой-никакой презентации того, чем я занимаюсь. 
    Он еще совсем сырой, но я многое планирую сюда добавить, например:
    <ul>
        <li> В первую очередь я бы хотел добавить функционал статей, которые я смогу выкладывать сюда, а не на сторонние ресурсы. Ну, или дублировать.</li> 
        <li> Забавные и скорее всего бесполезные мини-игры. Много идей, будет отдельный раздел.</li> 
        <li> Личные кабинеты. Чтобы заинтересованные могли регистрироваться, возможно, получать почту с моим доменом, сохранять прогресс в мини-играх, делать свои посты, комментировать, и всякое такое. Пока что я вижу это крайне трудоемким, так как надо будет разобраться с капчами, законодательством, иерархией доступов, и созданием соответствующих разделов. Но это легко реализуемо и крайне интересно.</li> 
    </li>
</p>
<h1> <strong>Кто я вообще такой и чем занимаюсь?</strong> </h1>
<p>
    Ну, я разнопрофильный программист, с диким интересом стать мастером своего дела, приносить людям хорошие эмоции и полезный, а главное качественный функционал. 
Я очень много писал на <b>Python</b>, в основном <b>скраперы-парсеры</b>, которые работали на <b>Linux</b> сервере 24/7 и слали пинги в <b>tg или discord</b>, а так же просто различных <b>ботов</b> с БД и финтифлюшками для tg.
Так же знаю <b>C#</b>, делал декстопные бухгалтерские программы под заказ. Пет-проекты на юнити, да и, собственно, этот сайт.
Учился программировать на <b>Quick-Basic, Turbo-Pascal, Borland Delphi, Embarcadero Delphi</b>. В целом, примерно <b>8 лет, с 7го класса</b> всем этим занимаюсь.  Сам в шоке.
Ковырял еще очень разные языки и много экспериментировал с ядром <b>Linux</b>. 
</p>
<br />
<p>
    Я бакалавр <b>Прикладной математики и информатики</b>. Дипломная работа заключалась в исследовании и реализации имитационного моделирования информационно-экономической системы на примере производства солнечных панелей с использованием языка программирования Python. <b>Оригинальность >98%</b>, хе-хе.
</p>
<br />
<p>
    Прямо сейчас в качестве пет-проекта разрабатываю с командой мультиплеерную хоррор-инди игру, в конкретный момент являясь административным руководителем команды из 8 человек и программистом сетевой части проекта. 
Я пишу аналог photon unity через API обращения на сервер, собственно, для чего и арендовал сервер с доменом.
</p>
<br>
<strong>Открыт к предложениям и интересным людям</strong>:
<br>
<a href="https://t.me/Dodod0d0">Telegram</a>
<br>
 <a href="dodo@dodothere.space">dodo@dodothere.space</a>
 <br>
<strong>А так же мой свеженький tg канал, где я публикую свои мысли, статьи, или просто интересную инфу:</strong>
<br>
<a href=" https://t.me/dodothere">Telegram</a>


