@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Политика конфиденциальности</p>

<p>Добро пожаловать в мое логово dodothere.space!</p>
<p> Не то, чтобы это кто-то читал, но если кому-то важно, то вот некоторые пункты, касающиеся моей политики конфиденциальности.</p>
<p>1. Сбор и использование информации</p>

<p>- Регистрация: При регистрации, я могу запросить различные личные данные: имя, адрес электронной почты и другие контактные данные. 
Эти данные используются для предоставления доступа к соответсвующим разделам сайта, цифровым услугам и для улучшения Вашего опыта.
</p><p>
- Cookie и отслеживание: Я могу использовать файлы cookie и аналогичные технологии для сбора информации о Вашем взаимодействии с сайтом, улучшения пользовательского опыта и анализа использования наших услуг.
</p><p>
2. Обработка данных
</p><p>
- Собранные данные могут быть обработаны с целью предоставления Вам доступа к функциям сата, отправки Вам рассылок (не планируется в данный момент, но имейте в виду), улучшения сайта и обеспечения безопасности.
</p><p>
3. Права пользователей
</p><p>
- Вы можете в любой момент запросить доступ к Вашим личным данным, их коррекцию или удаление, а также отписаться от рассылки, если она будет. 
Свяжитесь со мной по адресу dodo@dodothere.space 
Или в телеграме https://t.me/Dodod0d0
</p><p>
4. Изменения и обновления
</p><p>
- Я оставляю за собой право вносить изменения в нашу политику конфиденциальности. Изменения будут опубликованы на этой странице, и я рекомендую периодически ее проверять.
</p><p>
5. Ссылки на сторонние сайты
</p><p>
- Политика конфиденциальности применяется только к этому сайту. Я не несу ответственности за политику конфиденциальности или действия сторонних веб-сайтов, на которые могут ссылаться мои материалы.
</p><p>
Если у вас возникли вопросы или запросы относительно политики конфиденциальности, пожалуйста,
свяжитесь со мной по адресу dodo@dodothere.space 
или в телеграме https://t.me/Dodod0d0
</p><p>

Последнее обновление 06.08.2023</p>