html {
    font-size: 14px;
    color: rgb(0,255,255);
}

@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
  .nav-item{
      margin-top:0.5em;
      margin-bottom:0.5em;
  }
}
@media (max-width: 999px) {
    .navbar {
        min-width: auto !important; /* Убираем ограничение на минимальную ширину */
        width: 100% !important; /* Занимаем всю ширину экрана */
        min-height: 4.5em;
        margin: 0;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }

    .navbar-toggler[aria-expanded="true"] ~ .logo-wrapper {
        top: 2em !important; /* Измените значение по вашему вкусу */
    }
    .navbar-collapse {
        width: 100%; /* Убираем ограничение на ширину */
    }


    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        flex-direction: row;
    }
    /* Отображаем ссылки в раскрытом тогглере */
    .navbar-toggler[aria-expanded="true"] ~ .navbar-collapse.collapse {
        display: block !important;
    }


    .navbar-collapse {
        margin-top: 1em;
    }

}

html {
  position: relative;
  min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, a, div, p {
    color: rgb(0,255,255);
    height: 100%;
}

.backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.navbar-toggler-icon {
    background-image: url("../img/navbar_toggler.svg") !important;
}
.nav-link {
    color: rgb(0, 255, 255) !important;
}

/* Навигационная панель */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    width: max-content;
    margin: auto;
    margin-top: 1em;
    min-width: 50vh;
    border: 2px solid rgb(0, 255, 255);
    position: relative;
    z-index: 1;
    padding: 0;
    overflow: visible;
}
.navbar-nav {
    margin: 0;
    display: flex;
    flex-direction: column; /* Добавьте этот стиль для скрытия ссылок на мобильных устройствах */
}

.navbar-collapse {
    width: 100%; /* Добавьте этот стиль для скрытия ссылок на мобильных устройствах */
    text-align: center; /* Добавьте этот стиль для выравнивания ссылок на мобильных устройствах */
}
.nav-item {
    margin-left: 3em;
    margin-right: 3em;
}

.logo-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 5em;
}

.circle-logo {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 255, 255);
}

    .circle-logo img {
        max-width: 100%;
        max-height: 100%;
        width: 3.5em;
        height: 3.5em;
        top: 2.2em;
        transform: translate(-50%, -50%);
        position: absolute;
    }



.container, container-fluid {
    margin: 0 auto;
}

.pb-3 {
    background: #77707073;
    outline: 0.1em solid rgb(0, 255, 255);
    border: 0.5em solid #000000;
    border-radius: 1em;
    margin: 3em;
    padding: 3em;

    flex: 1; /* Растягивается на доступное свободное пространство */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height:100vh;
}
.content {
    flex: 1;
    position: relative;
    min-height: 100vh;
    margin-bottom:5em;
}
footer {
    bottom: 0;
    margin-top:5em;
}